.scroll-item {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-color: #fff; 
  margin:10px; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s; 
}
.scroll-item>img{
  width: 160px;
  height: 160px;
}

.scroll-item:hover {
  transform: scale(1.02); 
  cursor: pointer;
}